<section id="about_heading_main" class="clearfix">
  <div class="container">
   <div class="row">
    <div class="col-sm-12">
     <div class="about_heading_main_1">
       <h5><a href="#">Home</a> <span>//</span> About Us</h5>
       <h1>About <span> Us</span> </h1>
     </div>
    </div>
   </div>
  </div>
 </section>
 <section id="about_inner">
  <div class="container">
   <div class="row">
    <div class="col-sm-12 space_all">
     <div class="col-sm-6 space_all">
      <div class="about_1">
       <h2>About Us</h2>
      </div>
     </div>
     <div class="col-sm-6 space_all">
      <div class="about_2">
       <p><a href="#"><i class="fa fa-instagram"></i></a></p>	  
      </div>
     </div>
    </div>
    <div class="col-sm-12 space_all">
     <div class="about_3">
      <h4>A short info<br> 
         About this Website</h4>
     </div>
     <div class="col-sm-9">
      <div class="about_4">
       <p>The main objective of this website is to let people of our community to know each other & let others know we are, Our Origin ,Our History, Our Culture, State wise Development & current Status of our community, Our Problem-How we can help each other etc. This is a small initiative of our presence on internet globe to spread our views, identity& idea faster.

        Your valuable suggestion ,views, ideas, any useful information, News will help to make this website better & update on our community & welfare scheme.
        
        Hoping a great helping hand from all of you.</p>
       
       <p>The main objective of this website is to let people of our community to know each other & let others know we are, Our Origin ,Our History, Our Culture, State wise Development & current Status of our community, Our Problem-How we can help each other etc. This is a small initiative of our presence on internet globe to spread our views, identity& idea faster.

        Your valuable suggestion ,views, ideas, any useful information, News will help to make this website better & update on our community & welfare scheme.
        
        Hoping a great helping hand from all of you.</p>
      </div>
     </div>
     <div class="col-sm-3">
      <div class="about_5">
       <p><a href="#"><img src="assets/img/about3.jpg"></a></p>
      </div>
     </div>
    </div>
    <div class="col-sm-12">
     <div class="about_4">
      <p>The main objective of this website is to let people of our community to know each other & let others know we are, Our Origin ,Our History, Our Culture, State wise Development & current Status of our community, Our Problem-How we can help each other etc. This is a small initiative of our presence on internet globe to spread our views, identity& idea faster.

        Your valuable suggestion ,views, ideas, any useful information, News will help to make this website better & update on our community & welfare scheme.
        
        Hoping a great helping hand from all of you.</p>
     </div>
    </div>
   </div>
  </div>
 </section>
 <section id="about_middle">
  <div class="container">
   <div class="row">
    <div class="about_middle clearfix">
     <div class="col-sm-6">
      <div class="about_middle_left clearfix">
        <h3>Why We Are ?</h3>
        <h2>Best Matrimony Website</h2>
        <hr>
        <p>
          GurjarVivah.com and its franchisees provide their services to you subject to the following conditions. If you visit or sign up at GurjarVivah.com, you accept these conditions. Please read them carefully. In addition, when you use or visit any current or future GurjarVivah.com service or any business in association with GurjarVivah.com, whether or not included in the GurjarVivah.com Web site, you will also be subject to the guidelines and conditions applicable to such service or business.
        </p>
        <div class="about_middle_left_inner clearfix">
         <h4><i class="fa fa-check"></i>Essential Recruitments</h4>
         <p>GurjarVivah.com and its franchisees provide their services to you subject to the following<br> imperdiet Mauris massa.</p>
        </div>
        <div class="about_middle_left_inner clearfix">
         <h4><i class="fa fa-check"></i>About Us</h4>
         <p> Web site, you will also be subject to the guidelines and conditions applicable to such service or business..</p>
        </div>
        <div class="about_middle_left_inner clearfix">
         <h4><i class="fa fa-check"></i>Married Couple</h4>
         <p>  Web site, you will also be subject to the guidelines and conditions applicable to such service or business.</p>
        </div>
        <div class="about_middle_left_inner clearfix">
         <h4><i class="fa fa-check"></i>Followed People</h4>
         <p> Web site, you will also be subject to the guidelines and conditions applicable to such service or business.</p>
        </div>
        <div class="about_middle_left_inner clearfix">
         <h4><i class="fa fa-check"></i>Our Arrangements</h4>
         <p> Web site, you will also be subject to the guidelines and conditions applicable to such service or business.</p>
        </div>
      </div>
     </div>
     <div class="col-sm-6">
      <!-- <div class="about_middle_right"> -->
        <div class="about_5">
          <p><a href="#"><img src="assets/img/about5.jpg" width="99%"></a></p>
         </div>
      <!-- </div> -->
     </div>
    </div>
   </div>
  </div>
 </section>
 
 <section id="about_last">
  <div class="container">
   <div class="row">
        <div class="col-sm-12">
         <div class="about_last">
           <h1><span>Our</span> Team Unity!</h1>
           <p>Following are .</p>
         </div>
        </div>
        <div class="team col-sm-12  clearfix">
         
             <div class="col-sm-3 ">
              <div class="team_1 clearfix">
                <div class="grid clearfix">
                             <figure class="effect-jazz">
                                 <img src="assets/img/owner.jpg" alt="img25">
         
                  </figure>
                             
               </div>
              </div>
              <div class="team_inner clearfix text-center">
              <h3>Raj Kumar Choudhary</h3>
              <h4>OWNER and Founder</h4>	
              <ul>
                   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>			 
             </div>
             </div>
             <div class="col-sm-3">
              <div class="team_1 clearfix">
                <div class="grid clearfix">
                             <figure class="effect-jazz">
                                 <img src="assets/img/tanya.jpg" alt="img25">			
                  </figure>
                             
               </div>
              </div>
              <div class="team_inner clearfix text-center">
              <h3>Tanya</h3>
              <h4>Director</h4>
              <ul>
                   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
              </div>
             </div>
             <div class="col-sm-3">
              <div class="team_1 clearfix">
                <div class="grid clearfix">
                             <figure class="effect-jazz">
                                 <img src="assets/img/tanya.jpg" alt="img25">			
                  </figure>
                             
               </div>
              </div>
              <div class="team_inner clearfix text-center">
              <h3>Tanya</h3>
              <h4>Manager</h4>
              <ul>
                   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
             </div>
             </div>
             <div class="col-sm-3">
              <div class="team_1 clearfix">
                <div class="grid clearfix">
                             <figure class="effect-jazz">
                                 <img src="assets/img/owner.jpg" alt="img25">			
                  </figure>							
               </div>
              </div>
              <div class="team_inner clearfix text-center">
              <h3>Raj Kumar Choudhary</h3>
              <h4>Director</h4>
              <ul>
                   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>			 
             </div>
             </div>
            </div>
   </div>
  </div>
 </section>
 
 