

<!-- <div class="about_main clearfix">
	<section id="about">
	<img src="assets/img/4444.jpg" width="100%">
	</section>
	<section id="about_top">
	<div class="container">
	<div class="row">
	<div class="col-sm-12"></div>
	</div>
	</div>
	</section>
	<section id="about_bottom">
	<div class="container">
	<div class="row">
	<div class="col-sm-12"></div>
	</div>
	</div>
	</section>
</div> -->

<section id="about_heading">
  <div class="container">
   <div class="row">
    <div class="col-sm-12">
     <div class="about_heading">
       <h5><a href="#">Home</a> <span>//</span>Our Services</h5>
       <h1>Our <span>  Services</span> </h1>
       <p>Following Services Provided by GurjarVivah.com</p>
     </div>
     <div class="services clearfix">
     <div class="col-sm-6 space_left">
       <div class="services_inner">
         <h2>Meeting</h2>
         <h5>03 Feb 2015</h5>
         <div class="services_inner_1 clearfix">
          <div class="col-sm-6 space_left services_inner_1_inner">
            <img src="assets/img/logo.jpg" width="100%">
          </div>
          <div class="col-sm-6 space_left services_inner_1_inner_1">
            <p>
              Web site, you will also be subject to the guidelines and conditions applicable to such service or business
             
            </p>
          </div>
         </div>
       </div>
     </div>
     <div class="col-sm-6 space_left">
       <div class="services_inner">
         <h2>Date & Time</h2>
         <h5>04 Feb 2016</h5>
         <div class="services_inner_1 clearfix">
          <div class="col-sm-6 space_left services_inner_1_inner">
            <img src="assets/img/logo.jpg" width="100%">
          </div>
          <div class="col-sm-6 space_left services_inner_1_inner_1">
            <p>
              Web site, you will also be subject to the guidelines and conditions applicable to such service or business
             
            </p>
           </div>
         </div>
       </div>
     </div>
    </div>
    <div class="services border_none_1 margin_top_1 clearfix">
     <div class="col-sm-6 space_left">
       <div class="services_inner">
         <h2>Married People</h2>
         <h5>04 Mar 2016</h5>
         <div class="services_inner_1 clearfix">
          <div class="col-sm-6 space_left services_inner_1_inner">
            <img src="assets/img/logo.jpg" width="100%">
          </div>
          <div class="col-sm-6 space_left services_inner_1_inner_1">
            <p>
              Web site, you will also be subject to the guidelines and conditions applicable to such service or business
             
            </p>         
             </div>
         </div>
       </div>
     </div>
     <div class="col-sm-6 space_left">
       <div class="services_inner">
         <h2>Single People</h2>
         <h5>06 Jan 2016</h5>
         <div class="services_inner_1 clearfix">
          <div class="col-sm-6 space_left services_inner_1_inner">
            <img src="assets/img/logo.jpg" width="100%">
          </div>
          <div class="col-sm-6 space_left services_inner_1_inner_1">
            <p>
              Web site, you will also be subject to the guidelines and conditions applicable to such service or business
             
            </p>
           </div>
         </div>
       </div>
     </div>
    </div>
    </div>
   </div>
  </div>
 </section>
 
 