

<!-- <div class="about_main clearfix">
	<section id="about">
	<img src="assets/img/4444.jpg" width="100%">
	</section>
	<section id="about_top">
	<div class="container">
	<div class="row">
	<div class="col-sm-12"></div>
	</div>
	</div>
	</section>
	<section id="about_bottom">
	<div class="container">
	<div class="row">
	<div class="col-sm-12"></div>
	</div>
	</div>
	</section>
</div> -->

<section id="about_heading">
  <div class="container">
   <div class="row">
    <div class="col-sm-12">
     <div class="about_heading">
       <h5><a routerLink="#">Home</a> <span>//</span>Our Gallery</h5>
       <h1>Our <span>  Gallery</span> </h1>
     </div>




     <div class="container">
    
      <hr class="mt-2 mb-5">
    
      <div class="row text-center text-lg-start">
    
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/01.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/02.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/03.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/04.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/05.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/06.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/07.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/08.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/09.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/010.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/011.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/012.jpg" alt="">
          </a>
        </div>
      </div>
    
    </div>




























     <div class="services clearfix hide" >
     <div class="col-sm-6 space_left">
       <div class="services_inner">
         <h2>Meeting</h2>
         <h5>03 Feb 2015</h5>
         <div class="services_inner_1 clearfix">
          <div class="col-sm-6 space_left services_inner_1_inner">
            <img src="assets/img/logo.jpg" width="100%">
          </div>
          <div class="col-sm-6 space_left services_inner_1_inner_1">
            <p>
              Web site, you will also be subject to the guidelines and conditions applicable to such service or business
             
            </p>
          </div>
         </div>
       </div>
     </div>
     <div class="col-sm-6 space_left">
       <div class="services_inner">
         <h2>Date & Time</h2>
         <h5>04 Feb 2016</h5>
         <div class="services_inner_1 clearfix">
          <div class="col-sm-6 space_left services_inner_1_inner">
            <img src="assets/img/logo.jpg" width="100%">
          </div>
          <div class="col-sm-6 space_left services_inner_1_inner_1">
            <p>
              Web site, you will also be subject to the guidelines and conditions applicable to such service or business
             
            </p>
           </div>
         </div>
       </div>
     </div>
    </div>
    <div class="services border_none_1 margin_top_1 clearfix hide">
     <div class="col-sm-6 space_left">
       <div class="services_inner">
         <h2>Married People</h2>
         <h5>04 Mar 2016</h5>
         <div class="services_inner_1 clearfix">
          <div class="col-sm-6 space_left services_inner_1_inner">
            <img src="assets/img/logo.jpg" width="100%">
          </div>
          <div class="col-sm-6 space_left services_inner_1_inner_1">
            <p>
              Web site, you will also be subject to the guidelines and conditions applicable to such service or business
             
            </p>         
             </div>
         </div>
       </div>
     </div>
     <div class="col-sm-6 space_left">
       <div class="services_inner">
         <h2>Single People</h2>
         <h5>06 Jan 2016</h5>
         <div class="services_inner_1 clearfix">
          <div class="col-sm-6 space_left services_inner_1_inner">
            <img src="assets/img/logo.jpg" width="100%">
          </div>
          <div class="col-sm-6 space_left services_inner_1_inner_1">
            <p>
              Web site, you will also be subject to the guidelines and conditions applicable to such service or business
             
            </p>
           </div>
         </div>
       </div>
     </div>
    </div>
    </div>
   </div>
  </div>
 </section>

 <hr>
 <section id="photo_gallery" >
  <div class="container">
   <div class="row">
    <div class="col-sm-12">
     <div class="photo_gallery">
    <div class="services_home clearfix">
   </div>
    <div id="Carousel" class="carousel slide">
                  
                 <ol class="carousel-indicators">
                     <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                     <li data-target="#Carousel" data-slide-to="1"></li>
                     <li data-target="#Carousel" data-slide-to="2" class=""></li>
                 </ol>
                  
                 <!-- Carousel items -->
                 <div class="carousel-inner">
                     
                 <div class="item active">
                   <div class="row">
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/013.jpg" alt="Image" style="max-width:100%;"></a></div>
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/014.jpg" alt="Image" style="max-width:100%;"></a></div>
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/015.jpg" alt="Image" style="max-width:100%;"></a></div>
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/016.jpg" alt="Image" style="max-width:100%;"></a></div>
                   </div><!--.row-->
                 </div><!--.item-->
                  
                 <div class="item">
                   <div class="row">
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/017.jpg" alt="Image" style="max-width:100%;"></a></div>
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/018.jpg" alt="Image" style="max-width:100%;"></a></div>
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/019.jpg" alt="Image" style="max-width:100%;"></a></div>
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/020.jpg" alt="Image" style="max-width:100%;"></a></div>
                   </div><!--.row-->
                 </div><!--.item-->
                  
                 <div class="item">
                   <div class="row">
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/021.jpg" alt="Image" style="max-width:100%;"></a></div>
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/022.jpg" alt="Image" style="max-width:100%;"></a></div>
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/05.jpg" alt="Image" style="max-width:100%;"></a></div>
                     <div class="col-sm-3"><a routerLink="#" class="thumbnail"><img src="assets/img/03.jpg" alt="Image" style="max-width:100%;"></a></div>
                   </div><!--.row-->
                 </div><!--.item-->
                  
                 </div><!--.carousel-inner-->
                   <a data-slide="prev" routerLink="#Carousel" class="left carousel-control">‹</a>
                   <a data-slide="next" routerLink="#Carousel" class="right carousel-control">›</a>
                 </div>
   </div>
    </div>
   </div>
  </div>
 </section>
 <hr>


















 <div class="photo-gallery hide">
  <div class="container">
      <div class="intro">
          <h2 class="text-center">Lightbox Gallery</h2>
          <p class="text-center"> </p>
      </div>
      <div class="row photos">
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a routerLink="assets/img/021.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/021.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a routerLink="assets/img/021.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/021.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a routerLink="assets/img/021.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/021.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a routerLink="assets/img/021.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/021.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a routerLink="assets/img/021.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/021.jpg"></a></div>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a routerLink="assets/img/021.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/021.jpg"></a></div>
      </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

 
 