<div class="container">
  <div class="row">
    <div class="col-12" *ngIf=IsDataAvailable>
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Candidate Name</th>
              <th scope="col">Place</th>
              <th scope="col">Phone Number</th> 
              <th scope="col">Action</th>                
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidate of CandidateList; index as i;">
              <td class="w-25">
                  <img src="https://wallpaperaccess.com/full/2581085.jpg" class="img-fluid img-thumbnail" alt="Sheep" />
              </td>
              <td>{{candidate.name}}</td>
              <td>{{candidate.place}}</td>
              <td>{{candidate.phone}}</td>
              <td>
                <a routerLink="details/{{candidate.id}}">Details</a> | 
                <a routerLink="edit/{{candidate.id}}">Edit</a> | 
                <a (click)="Remove($event)" id="{{candidate.id}}">Remove</a>

              </td>                
            </tr>
          </tbody>
        </table>   
    </div>
    <div class="col-12" *ngIf= !IsDataAvailable>
      <h2>No Candidate Added or Remaining. </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngIf=IsDataAvailable>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" *ngIf="pageNumber !== 1">
            <a class="page-link" (click)="MoreDeal('previous')" tabindex="-1" style="background-color: darkslategrey;color: white;">Previous Page</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="MoreDeal('next')" style="background-color: darkslategrey;     color: white">Next Page</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>