
<div class="center_main clerfix">
 
  <section id="center">

           <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                   <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                   <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                   <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
               </ol>
               <div class="carousel-inner">
                   <div class="item">
                       <img src="assets/img/1111.jpg" alt="First slide">
                       <div class="main-text hidden-xs clearfix">
                        <div class="col-md-12 text-center">
                          <h3>We provide easy and relaible mtaching services </h3>
                          <p>This website for welfare of Gurjar Community.</p>
                        </div>
                       <div class="carousel-caption">
                      
                      </div> </div>
                   </div>
                   <div class="item">
                       <img src="assets/img/3333.jpg" alt="Second slide">
                       <div class="main-text hidden-xs clearfix">
                        <div class="col-md-12 text-center">
                          <h3>This Website is sloely designed for welfare of Gurjar Community</h3> <br>
                          <p> </p>
                        </div>
                       <div class="carousel-caption">
                      
                      </div> </div>
                   </div>
                   <div class="item active">
                       <img src="assets/img/4444.jpg" alt="Third slide">
                       <div class="main-text hidden-xs clearfix">
                        <div class="col-md-12 text-center">
                          <h3>Matrimonial for Gurjar Communit</h3> <br>
                          <p>This Website is sloely designed for welfare of Gurjar Community</p>
                        </div>
                       <div class="carousel-caption">
                      
                      </div> </div>
                   </div>
               </div>
           </div>
           <div class="main-text hidden-xs clearfix hide">
               <div class="col-md-12 text-center">
                 <h3>Matrimonial for Gurjar Community</h3>
                 <p>This Website is sloely designed for welfare of Gurjar Community</p>
               </div>
           </div>
</section>

  <section id="center_top">
     <div class="container">
      <div class="row">
       <div class="col-sm-12"></div>
      </div>
     </div>
    </section>


  <section id="center_bottom">
 <div class="container">
  <div class="row">
   <div class="col-sm-12"></div>
  </div>
 </div>
</section>
</div>

<section id="arrange">
   <div class="container">
    <div class="row">
     <div class="col-sm-12">
      <div class="arrange">
        <h1 class="text-center"><span>WE ARE HAPPY TO HAVE YOU HERE</span></h1>
        <h2 class="text-center hide"><i class="fa fa-arrows-h"></i></h2>
        <h3 class="hide">"You are all heartly welcome on our Website. !!!"</h3>
        <div class="list-group">
           <a  class="list-group-item" style="border: none;"> <i class="fa fa-arrows-h"></i>	When there is correct thought, right action will follow.</a>
          <a  class="list-group-item" style="border: none;"> <i class="fa fa-arrows-h"></i>	Anything that lives must evolve, so let us bring change together.</a>
          <a class="list-group-item" style="border: none;"> <i class="fa fa-arrows-h"></i>	Be the part of our GujarVivah.com’s family by registering for becoming an admin today.</a>
          <a  class="list-group-item" style="border: none;"> <i class="fa fa-arrows-h"></i>	All the admin-requests are verified and then approved by our team. </a>
          <a  class="list-group-item" style="border: none;"> <i class="fa fa-arrows-h"></i>	Admins then are responsible for verifying and uploading the candidate profiles. Hence the profiles we upload here are personally verified by our admins.</a>
          <a class="list-group-item" style="border: none;"> <i class="fa fa-arrows-h"></i>	You can absolutely count on us while taking the most crucial decision of your life.</a>
          <a  class="list-group-item" style="border: none;"> <i class="fa fa-arrows-h"></i>	Have a happy time scrolling!!!</a>
        </div>
        <p class="text-center hide">
           Though marriages are made in heaven and are pre-decided, finding that person is usually quite difficult. Specially, if one is looking for a perfect match within their own community. This section of our website is an effort to make match making process easier for those who want to tie knots of their children with in Gurjar Samaj.
        </p>
        
      </div>
     </div>
     <div class="col-sm-12 hide">
      <div class="arrange_1">
         <ul>
          <li><span class="span_3">[</span></li>
          <li class="well_2">"You are all heartly welcome on our Website. !!!" <span class="span_5"> GurjarVivah.com</span> </li>
          <li><span class="span_3">]</span></li>
         </ul>
      </div>   
      <div class="arrange_1">
       <p class="text-center"></p>
      </div>
     </div>
     <div class="col-sm-12 arrange_2">
      <div class="col-sm-5 m-3" >
       <div class="arrange_2_inner_1">
        <h3>Looking for</h3>
         <a routerLink="/candidate-list/female"><img class="img-circle" src="assets/img/b2.jpg" style="height: 300px; width: 300px;"></a>
         <p></p>
         <h3>Bride</h3>
       </div>
      </div>
      <!-- <div class="col-sm-2"></div> -->
      <div class="col-sm-5 m-3">
       <div class="arrange_2_inner">
        <h3>Looking for</h3>
        <a routerLink="/candidate-list/male"><img class="img-circle" src="assets/img/g1.jpg" style="height: 300px; width: 300px;"></a>
         <p></p>
         <h3>Groom</h3>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>

  <section class="hide" id="services_home">
   <div class="container">
    <div class="row">
     <div class="col-sm-12">
      <div class="services_home">
        <h1 class="text-center"><span>Our</span>  Services</h1>
        <h2 class="text-center"><i class="fa fa-arrows-h"></i></h2>
      </div>
     </div>
     <ul class="timeline">
          <li>
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="" id="" data-original-title="11 hours ago via Twitter" style="cursor: pointer;"></i></a></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <img class="img-responsive" src="assets/img/61.jpg">        
              </div>
              <div class="timeline-body">
                <p>
                 Though marriages are made in heaven and are pre-decided, finding that person is usually quite difficult. Specially, if one is looking for a perfect match within their own community. This section of our website is an effort to make match making process easier for those who want to tie knots of their children with in Gurjar Samaj.
                </p>             
              </div>           
              <div class="timeline-footer">
                  <a><i class="fa fa-facebook"></i></a>
                  <a><i class="fa fa-twitter"></i></a>
                  <a><i class="fa fa-google-plus"></i></a>
                  <a><i class="fa fa-linkedin"></i></a>
                  <a><i class="fa fa-rss"></i></a>
                  <a class="pull-right">join</a>
              </div>
            </div>
          </li>
          
          <li class="timeline-inverted">
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="" id="" data-original-title="11 hours ago via Twitter" style="cursor: pointer;"></i></a></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <img class="img-responsive" src="assets/img/62.jpg">
                
              </div>
              <div class="timeline-body">
               <p>
                 Though marriages are made in heaven and are pre-decided, finding that person is usually quite difficult. Specially, if one is looking for a perfect match within their own community. This section of our website is an effort to make match making process easier for those who want to tie knots of their children with in Gurjar Samaj.
                </p>                
              </div>
              
              <div class="timeline-footer">
                  <a><i class="fa fa-facebook"></i></a>
                  <a><i class="fa fa-twitter"></i></a>
                  <a><i class="fa fa-google-plus"></i></a>
                  <a><i class="fa fa-linkedin"></i></a>
                  <a><i class="fa fa-rss"></i></a>
                  <a class="pull-right">Join</a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="" id="" data-original-title="11 hours ago via Twitter" style="cursor: pointer;"></i></a></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <img class="img-responsive" src="assets/img/63.jpg">              
              </div>
              <div class="timeline-body">
               <p>
                 Though marriages are made in heaven and are pre-decided, finding that person is usually quite difficult. Specially, if one is looking for a perfect match within their own community. This section of our website is an effort to make match making process easier for those who want to tie knots of their children with in Gurjar Samaj.
                </p>
               </div>           
              <div class="timeline-footer">
                  <a><i class="fa fa-facebook"></i></a>
                  <a><i class="fa fa-twitter"></i></a>
                  <a><i class="fa fa-google-plus"></i></a>
                  <a><i class="fa fa-linkedin"></i></a>
                  <a><i class="fa fa-rss"></i></a>
                  <a class="pull-right">Join</a>
              </div>
            </div>
          </li>        
          <li class="timeline-inverted">
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="" id="" data-original-title="11 hours ago via Twitter" style="cursor: pointer;"></i></a></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <img class="img-responsive" src="assets/img/61.jpg">              
              </div>
              <div class="timeline-body">
               <p>
                 Though marriages are made in heaven and are pre-decided, finding that person is usually quite difficult. Specially, if one is looking for a perfect match within their own community. This section of our website is an effort to make match making process easier for those who want to tie knots of their children with in Gurjar Samaj.
                </p>
               </div>            
              <div class="timeline-footer">
                  <a><i class="fa fa-facebook"></i></a>
                  <a><i class="fa fa-twitter"></i></a>
                  <a><i class="fa fa-google-plus"></i></a>
                  <a><i class="fa fa-linkedin"></i></a>
                  <a><i class="fa fa-rss"></i></a>
                  <a class="pull-right">Join</a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="" id="" data-original-title="11 hours ago via Twitter" style="cursor: pointer;"></i></a></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <img class="img-responsive" src="assets/img/62.jpg">              
              </div>
              <div class="timeline-body">
               <p>
                 Though marriages are made in heaven and are pre-decided, finding that person is usually quite difficult. Specially, if one is looking for a perfect match within their own community. This section of our website is an effort to make match making process easier for those who want to tie knots of their children with in Gurjar Samaj.
                </p>
               </div>            
              <div class="timeline-footer">
                  <a><i class="fa fa-facebook"></i></a>
                  <a><i class="fa fa-twitter"></i></a>
                  <a><i class="fa fa-google-plus"></i></a>
                  <a><i class="fa fa-linkedin"></i></a>
                  <a><i class="fa fa-rss"></i></a>
                  <a class="pull-right">Join</a>
              </div>
            </div>
          </li>
          
          <li class="timeline-inverted">
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="" id="" data-original-title="11 hours ago via Twitter" style="cursor: pointer;"></i></a></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <img class="img-responsive" src="assets/img/63.jpg">
                
              </div>
              <div class="timeline-body">
               <p>
                 Though marriages are made in heaven and are pre-decided, finding that person is usually quite difficult. Specially, if one is looking for a perfect match within their own community. This section of our website is an effort to make match making process easier for those who want to tie knots of their children with in Gurjar Samaj.
                </p>                 
              </div>
              
              <div class="timeline-footer primary">
                  <a><i class="fa fa-facebook"></i></a>
                  <a><i class="fa fa-twitter"></i></a>
                  <a><i class="fa fa-google-plus"></i></a>
                  <a><i class="fa fa-linkedin"></i></a>
                  <a><i class="fa fa-rss"></i></a>
                  <a class="pull-right">Join</a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="" id="" data-original-title="11 hours ago via Twitter" style="cursor: pointer;"></i></a></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <p><b>All the credits go to <a href="#">Raj Kumar Choudhary</a></b></p>
                <p>Please connect to our Facebook page</p>
              </div>
              
              <div class="timeline-footer primary">
                  <a><i class="fa fa-facebook"></i></a>
                  <a><i class="fa fa-twitter"></i></a>
                  <a><i class="fa fa-google-plus"></i></a>
                  <a><i class="fa fa-linkedin"></i></a>
                  <a><i class="fa fa-rss"></i></a>
                  <a class="pull-right">Join</a>
              </div>
            </div>
          </li>
          
          <li class="clearfix" style="float: none;"></li>		 
      </ul>
      <div class="services_home_main">
            <h2 class="text-center"><i class="fa fa-arrows-h"></i></h2>
           </div>
    </div>
   </div>
  </section>

  <section id="photo_gallery">
   <div class="container">
    <div class="row">
     <div class="col-sm-12">
      <div class="photo_gallery">
     <div class="services_home clearfix">
      <h1 class="text-center"><span>Our</span>  Gallery</h1>
      <h2 class="text-center"><i class="fa fa-arrows-h"></i></h2>
    </div>
     <div id="Carousel" class="carousel slide">
                   
                  <ol class="carousel-indicators">
                      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#Carousel" data-slide-to="1"></li>
                      <li data-target="#Carousel" data-slide-to="2" class=""></li>
                  </ol>
                   
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                      
                  <div class="item active">
                    <div class="row">
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/13.jpg" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/14.jpg" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/15.jpg" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/16.jpg" alt="Image" style="max-width:100%;"></a></div>
                    </div><!--.row-->
                  </div><!--.item-->
                   
                  <div class="item">
                    <div class="row">
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/17.jpg" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/18.jpg" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/19.jpg" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/20.jpg" alt="Image" style="max-width:100%;"></a></div>
                    </div><!--.row-->
                  </div><!--.item-->
                   
                  <div class="item">
                    <div class="row">
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/21.jpg" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/22.jpg" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/23.jpg" alt="Image" style="max-width:100%;"></a></div>
                      <div class="col-sm-3"><a href="#" class="thumbnail"><img src="assets/img/24.jpg" alt="Image" style="max-width:100%;"></a></div>
                    </div><!--.row-->
                  </div><!--.item-->
                   
                  </div><!--.carousel-inner-->
                    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                  </div>
    </div>
     </div>
    </div>
   </div>
  </section>
  
