<div class="container">

    <br>
    <h2>MEMBERSHIP POLICY !!!</h2>
    <br>
    <p>
        <b>Mode:</b>  
         By registering your profile through any of our domains or by the remittance of fees you become a member of GurjarVivah.com.
       </p>
       <p>
         For the convenience of all our users Gurjar Vivah.com has two types of membership schemes one is “Admin Member” another is “member”
       </p>
       <p>
        <b>Admin members –</b> 
          means a person who shall be entitled to upload any profile of any person of Gujar Community having the Hindu religion means a women or men who is legally entitled to get married as per the Hindu marriage Act, 1956 on this Gujar vivah, and his responsibility shall be following: - “firstly shall not be consider as agent/employee/manager/staff/attorney of the Gurjar vivah in any manner whatsoever and shall not represent himself as the said of Gurjar vivah, he will be a independent person working on his own behalf and shall be personally responsible for his own act and conduct and for his any work done on his behalf in the present website the Gurjar vivah shall not be claimed or called responsible before any authority of law for his any act.  And the Gurjar vivah shall have the right to terminate his account at any point of time,
       </p>
       <br>

      <b>That the said admin member entitled to do following works:-</b> 
       <p>1. Admin Member will verify the profile of member before uploading the profile. </p> 
       <p>2. Admin Member will have right to get receive the prescribed fees from the members  and liable to deposit it in  particular account as instructed by Gurjar vivah.</p> 
       <p>3. Admin Member will edit or cancel any profile as and when require and will follow all the instruction as given by Gurjar vivah, time to time to him.</p>


      <B>Members - </B> 
      <p>The person who wish to Register his/ her profile through Admin members across all domain and paid membership fees will become member for specific time period and will be cancel after it. Members profile will be highlighted in search results.</p> 
       <br>

     <p><b>Membership is not automatic:</b></p>   
       The right of admission vests with GurjarVivah.com. You become a member upon due acceptance of the Profile/Payment by GurjarVivah.com. Membership and rights of admission is reserved solely for
      <p> <b>1. Indian Nationals & Citizens</b> </p>
      <p><b>2. Non Resident Indians (NRI)</b></p>

      <br>

     <p><b>Length of Membership: You continue to be a member of GurjarVivah.com tll:</b></p> 
     <p class="text-danger">* Gurjar Vivah.com discharges its obligations to you by rendering its services to you; or Gurjar Vivah.com or yourself terminate the membership arrangement.</p> 
     <p class="text-danger">* Paid Memberships: Validity of your paid membership is one year from the date of registration.</p>

     <br>

    <h4 class="text-bold">What happens once your membership is over?</h4> 
Once your membership with us gets over, you will not be registered as member. We request you to save all your contacts you had contacted already and also upgrade your membership with us to enjoy access to these features. <br><br>
<b>Privacy of Membership: </b> Your Membership is only for personal use. It is not to be assigned, transferred or licensed so as to be used by any other person/entity. <br><br>
Members are advised to make appropriate/thorough enquiries before acting upon any matrimonial advertisement. Our site does not vouch for or subscribe to the claims and representations made by advertisers regarding particulars of status, age, income of other members.<br><br>
Kindly note that, your Admin membership/ membership in GurjarVivah.com is for your sole, personal use. You may not authorize others to use your membership and you may not assign or transfer your account to any other person or entity. <br><br>
<b> Online Conduct:</b> You are responsible for the content and information [including profile and photograph] you post or transmit through GurjarVivah.com's services. You will not post or transmit any content or information [in whatever form they may be contained] that is defamatory, blasphemous, abusive, obscene, sexually oriented, profane, intimidating, illegal or in violation of the rights of any person, including intellectual property rights. No content or information shall contain details or particulars of any of GurjarVivah.com's competitors, including their contact details. You will not use either your online or offline membership as a platform for any kind of promotional campaign, solicitation, advertising or dealing in any products or services or transmit any chain letters or junk mails.<br><br>


<p><b>Your Admin Membership / membership will automatically be suspended if you send "abusive, obscene or sexually oriented" message/s to other members.</b></p>  
<p class="bg-danger text-light">
  GurjarVivah.com has the right to suspend your profile without any prior notice and without stating any reason. That Gurjar Vivah shall not bound to give the reason/explanation while suspending the profile/account, and for this member shall have no right to challenge the same before any authority, or court, it is also made clear that the member shall have no right to file any complaint before any consumer forum or permanent lok adalat or before any type of authority, and the member cannot file any claim or case against the suspension of the account/profile. 
 <br>
  GurjarVivah.com reserves the right to edit/delete your photo/horoscope if it's not a valid/clear/related one.
</p>

<br>

<p>  If we find duplicate profiles, then we have rights to suspend any of the profile or all the profiles. </p>
<p> Messages sent to members of the opposite gender should be only for the purpose of finding a life partner. You are not allowed to misuse the service in the name of "Dating", "Flirting", "Friendship" etc. </p>
<p>  GurjarVivah.com reserves the right to modify your profile if any prohibitive or objectionable content is found, or in the case of your contact details being entered in irrelevant fields. GurjarVivah.com may also modify the profile for other reasons not mentioned herewith. If any abusive content is found in your video clipping, GurjarVivah.com has the right to suspend your profile. </p>
<p>  You will not post or transmit any content, information or trademarks without the prior consent of the person holding its proprietary or licensed rights. GurjarVivah.com will not in any way be responsible or answerable to any action brought by any person arising out of your acts as described above. </p>
<p>  GurjarVivah.com reserves the right but is not obligated, to edit, delete, eclipse or withhold display of such content or information as it deems fit in the light of the rules prescribed above. </p>
<p> To enhance the security of its members, Gurjar Vivah has restricted copying and saving images and content from certain sections of the portal.</p>
<p> We validate only the profile details of the member. Character verification has to be done by interested parties themselves</p>

    <br><br>

    <h3>DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</h3>
    <strong>
      THIS SITE IS PROVIDED BY GURJARVIVAH.COM ON AN "AS IS" AND "AS AVAILABLE" BASIS. GURJARVIVAH.COM MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. </strong> <br> <br>
      <strong>TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, GURJARVIVAH.COM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. GURJARVIVAH.COM DOES NOT WARRANT THAT THIS SITE, ITS 
    </strong> <br> <br>

    <strong>
      SERVERS, OR E-MAIL SENT FROM GURJARVIVAH.COM ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. GURJARVIVAH.COM WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES
    </strong> <br> <br>

    <p>
      As to extraneous contents: GurjarVivah.com hereby alerts and warns its members of the possibility of unauthorized posting of contents by any person including members and unauthorized users and advises discretion in access since such content, information or representation may not be suitable to you including being offensive. GurjarVivah.com will not in any way be responsible for such content, information or representations. GurjarVivah.com is also not responsible for alterations, modifications, deletion, reproduction, sale, transmission or any such misuse of data and content in the public domain by any user.
    </p>

    <br> <br>
    <h4>REFUND OF FEE</h4>
    <p>If you choose to terminate your membership, the MEMBERSHIP FEES ARE NOT REFUNDABLE under any circumstances. </p>
     <p>Your membership in the GurjarVivah.com service is for your sole, personal use. You may not authorize others to use your membership and you may not assign or transfer your account to any other person or entity.</p> 
     <br> <br>
    <h4>ROLE OF GurjarVivah.com</h4> 
  <p> Provision of Service: GurjarVivah.com will provide the service[s] that are opted and paid for by the member. </p>
  <p>A paid membership will allow you to contact profiles of the opposite gender of all the domains. Members' names will be displayed only to the paid members.</p>
  <p>Medium of Interchange of Information: Besides the provision of services, GurjarVivah.com acts as a platform for all its members to interchange information that would promote their common matrimonial objectives. It is to be distinctly understood that GurjarVivah.com will only provide contact between and among members within its service framework and not the direct contact details of such members. GurjarVivah.com is not the agent of any member and does not partake in the interchange or the results thereof. GurjarVivah.com will be a disinterested person in the event of disputes between or among the members, though it may facilitate an amicable resolution of such disputes.</p>
  <p>Right to form Consortium/Associates: While providing services, GurjarVivah.com may outsource any part thereof to any competent person or organization, with or without disclosing it to you. However, your membership rights and responsibilities continue as against GurjarVivah.com only and not against such persons or organizations.</p>

  <h3> GENERAL PROVISIONS </h3>
  <p><b>Confidentiality: </b>  GurjarVivah.com will maintain confidential, all personal information [other than that meant for posting or transmission] furnished by members. However, GurjarVivah.com may divulge such information if required by law.</p>
  <p> By agreeing to register at GurjarVivah.com and its consortium of portals, a user allows GurjarVivah.com to get in touch with him/her from time to time on events or offers. This could include exciting offers, information, as well as promotions. GurjarVivah.com can use your email address and/or telephone number for this purpose.</p>
  <p> <b>Termination of Membership: </b>  The membership may be terminated by either party by serving a written notice on the other. GurjarVivah.com reserves the right to terminate the membership, to suspend a profile or to disable access in respect of any member in breach of any of the terms. In no case will the Membership fees be refundable.</p>
    <br><br>

    <h3 class="text-info">Site Policies, Modification and Severability</h3>
    <p>Please review our other policies, such as our pricing policy, posted on this site. These policies also govern your visit to www.GurjarVivah.com and consortium of portals. We reserve the right to make changes to our site, policies, and these Terms and Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.</p>
    <p><b>Suggestions, Complaints, Disputes: Suggestions and complaints are to be first addressed to GurjarVivah.com's customer care team at <br>
      <strong class="text-primary">gurjarvivahcare@gmail.com.</strong> </b></p>
    <br><br>

    <h3>Arbitration</h3>

    <p>1.	All the disputes or the differences whatsoever arising between the member and Gurjar Vivah or, relating to this website arising with the effect of this agreement or breach thereof shall be referred to arbitration, there will be sole arbitrator in for settling the disputes. Gurjar Vivah only shall have right to appoint an arbitrator of his choice, the arbitration shall be as per the provisions of Indian arbitration and conciliation Act, 2019, or any statutory re - enactment or modification thereof for the time being in force. The venue of arbitration proceeding shall be at Faridabad and the language of the arbitration proceeding may be English and Hindi. The decision of the Arbitrator so appointed shall be binding upon both the Parties, and before the said arbitration the member/profile shall have to deposit Rs.100000/- which shall be non-refundable as fee of the arbitrator. And the place of arbitration shall be exclusive at Faridabad (Haryana) only. </p> 

    <p><strong>Jurisdiction :- Jurisdiction will be only Faridabad court.</strong> 
      </p>
    
    </div>