<div class="card"> 
    <div class="card-img mt-4">
        <img class="lazy card-img-top postthumb img-responsive mt-4"
            src="{{candidate.img}}" style="width: 90%; height: 17rem; margin-left: 5%;"
            onerror="this.src='assets/img/logo.jpg'">
    </div>
    <div class="card-body pt-0 px-0">
        <div class="d-flex flex-row justify-content-between mb-0 px-3"> <small class="text-muted mt-1"></small>
            <h6 class="text-danger"></h6>
        </div>
        <hr class="mt-2 mx-3">
        <div class="d-flex flex-row justify-content-between p-3 mid">
            <p class="card-text mb-1 font-weight-bold" style="min-height: 30px;">
                <a class="MainCardAnchore">
                   {{candidate.name}}  {{candidate.height}} {{candidate.place}} {{candidate.dob | age}} Yrs</a>
            </p>
            <br>
            <p class="card-text mb-1 font-weight-bold" style="min-height: 30px;">
              <a class="MainCardAnchore" routerLink="/admin-profile/{{candidate.adminId}}">
                 Added By {{candidate.adminName}}</a>
          </p>
        </div> 
        <div class="mx-3 mt-3 mb-2">
            <a routerLink="../details/{{candidate.id}}" target="_blank" >
            <button  type="button" class="btn btn-danger btn-block"><small>Details More</small></button></a></div> 
    </div>
</div>